In [1]:
import pandas as pd

In [2]:
book_cutoffs = "../book_cutoffs.csv"
cutoffs = pd.read_csv(book_cutoffs,index_col='asin')

In [3]:
cutoffs.head()

            book_num_reviews  std_HVAR  top_quartile_HVAR
asin
000100039X                86  2.930287           0.842702
0001055178                12  0.332911           0.465856
0001473123                 3  1.149615           1.526551
0001473727                 3  0.069478           0.756506
0001473905                 2  0.311713           0.710632

In [6]:
cutoffs.describe()

       book_num_reviews       std_HVAR  top_quartile_HVAR
count     301794.000000  275735.000000      301794.000000
mean           9.558391       1.547199           1.686478
std           23.398130       2.981111           2.306660
min            1.000000       0.000000           0.000000
25%            3.000000       0.371211           0.653514
50%            5.000000       0.787658           1.097110
75%            9.000000       1.690311           1.962299
max         2472.000000     378.643335         255.599455

In [5]:
cutoffs.shape

(301794, 3)

In [9]:
dirty = cutoffs[(cutoffs.book_num_reviews < 4) | (cutoffs.std_HVAR.isna()) | (cutoffs.std_HVAR == 0)].shape[0]
cutoffs = cutoffs[(cutoffs.book_num_reviews >=4) & (cutoffs.std_HVAR.notna()) & (cutoffs.std_HVAR != 0)]
print(f"Removing from master booklist {dirty} books for inadequate review counts or review variance")

Removing from master booklist 104496 books for inadequate review counts or review variance

In [12]:
print(f"{cutoffs.shape[0]} books remain for prediction and evaluation")

197298 books remain for prediction and evaluation

In [16]:
# Write master booklist out to a file
cutoffs.to_csv('../booklist.csv',index=True)

In [17]:
!pwd

/home/jend/fp/RealRelevantReviews

In [18]:
!ls -lah ..

total 9.4G
drwxrwxr-x  4 jend jend 4.0K Jul 14 21:01 .
drwxr-xr-x 21 jend jend 4.0K Jul  3 02:22 ..
drwxrwxr-x  2 jend jend 4.0K Jul 13 23:56 .ipynb_checkpoints
drwxrwxr-x  4 jend jend 4.0K Jul 14 21:00 RealRelevantReviews
-rw-rw-r--  1 jend jend  15M Jul 13 23:56 book_cutoffs.csv
-rw-rw-r--  1 jend jend 9.6M Jul 14 21:01 booklist.csv
-rw-rw-r--  1 jend jend 585M Jul 14 19:08 dev.json
-rw-rw-r--  1 jend jend 391M Jul 14 20:36 labeled_dev_set.csv
-rw-rw-r--  1 jend jend 2.0M Jul 13 22:36 labeled_small_training_set.csv
-rw-rw-r--  1 jend jend 3.3G Jul 13 23:48 labeled_training_set.csv
-rw-rw-r--  1 jend jend 9.3M Jul  2 02:40 rowling.json
-rw-rw-r--  1 jend jend  47M Jun 22 04:41 small_train.json
-rw-rw-r--  1 jend jend 584M Jul 14 19:08 test.json
-rw-rw-r--  1 jend jend 467K Jun 22 04:37 toy_train.json
-rw-rw-r--  1 jend jend 4.6G Jul  3 02:23 train.json