In [1]:
import pandas as pd

In [2]:
book_cutoffs = "w266_proj/data/book_cutoffs.csv"
cutoffs = pd.read_csv(book_cutoffs,index_col='asin')

In [3]:
cutoffs.head()

            book_num_reviews  std_HVAR  top_quartile_HVAR
asin
000100039X                86  2.930287           0.842702
0001055178                12  0.332911           0.465856
0001473123                 3  1.149615           1.526551
0001473727                 3  0.069478           0.756506
0001473905                 2  0.311713           0.710632

In [4]:
cutoffs.shape

(301794, 3)

In [5]:
cutoffs.describe(include='all')

       book_num_reviews       std_HVAR  top_quartile_HVAR
count     301794.000000  275735.000000      301794.000000
mean           9.558391       1.547199           1.686478
std           23.398130       2.981111           2.306660
min            1.000000       0.000000           0.000000
25%            3.000000       0.371211           0.653514
50%            5.000000       0.787658           1.097110
75%            9.000000       1.690311           1.962299
max         2472.000000     378.643335         255.599455

In [45]:
cutoffs['std_HVAR'].describe(percentiles=[.1, .2, .3, .4, .5, .6, .7, .8, .9])
print(cutoffs['std_HVAR'].sort_values()[:5])
print(cutoffs[cutoffs['std_HVAR'] == 0.0].shape)

asin
B00CTSAE52    0.0
0891418741    0.0
B00AOD83Z2    0.0
1466263458    0.0
0615247962    0.0
Name: std_HVAR, dtype: float64
(1006, 4)

In [5]:
cutoffs.shape

(301794, 4)

In [6]:
dirty = cutoffs[(cutoffs.book_num_reviews < 4) | (cutoffs.std_HVAR.isna()) | (cutoffs.std_HVAR == 0.0)].shape[0]
cutoffs = cutoffs[(cutoffs.book_num_reviews >=4) & (cutoffs.std_HVAR.notna()) & (cutoffs.std_HVAR != 0.0)]
print(f"Removing from master booklist {dirty} books for inadequate review counts or review variance")

Removing from master booklist 104496 books for inadequate review counts or review variance

In [7]:
cutoffs.shape

(197298, 3)

In [8]:
cutoffs['std_HVAR'].describe(percentiles=[.1, .2, .3, .4, .5, .6, .7, .8, .9])

count    1.972980e+05
mean     1.777825e+00
std      3.280041e+00
min      1.199178e-16
10%      2.535059e-01
20%      3.924669e-01
30%      5.411854e-01
40%      7.160778e-01
50%      9.378294e-01
60%      1.231840e+00
70%      1.657596e+00
80%      2.346406e+00
90%      3.838763e+00
max      3.786433e+02
Name: std_HVAR, dtype: float64

In [9]:
# Is the min ACTUALLY just zero?
print(cutoffs['std_HVAR'].sort_values()[:5])

asin
B00CD6SKXS    1.199178e-16
0874516994    2.189929e-05
1601547080    6.378028e-05
1583147497    8.602532e-05
1591299675    8.891943e-05
Name: std_HVAR, dtype: float64

In [13]:
cutoffs.loc['B00CD6SKXS']

book_num_reviews     7.000000e+00
std_HVAR             1.199178e-16
top_quartile_HVAR    7.969432e-01
Name: B00CD6SKXS, dtype: float64

In [12]:
cutoffs = cutoffs[cutoffs['asin'] != 'B00CD6SKXS']

KeyError: 'asin'

In [10]:
cutoffs.describe(include='all', percentiles=[.1, .2, .3, .4, .5, .6, .7, .8, .9])

       book_num_reviews      std_HVAR  top_quartile_HVAR
count     197298.000000  1.972980e+05      197298.000000
mean          13.480745  1.777825e+00           1.685347
std           28.154276  3.280041e+00           2.001595
min            4.000000  1.199178e-16           0.000000
10%            4.000000  2.535059e-01           0.447110
20%            5.000000  3.924669e-01           0.628227
30%            5.000000  5.411854e-01           0.782813
40%            6.000000  7.160778e-01           0.943471
50%            7.000000  9.378294e-01           1.154282
60%            9.000000  1.231840e+00           1.418854
70%           11.000000  1.657596e+00           1.765325
80%           15.000000  2.346406e+00           2.288175
90%           26.000000  3.838763e+00           3.338947
max         2472.000000  3.786433e+02         128.641696

In [11]:
print(f"{cutoffs.shape[0]} books remain for prediction and evaluation")

197298 books remain for prediction and evaluation

In [51]:
# Write master booklist out to a file
cutoffs.to_csv('w266_proj/data/booklist.csv',index=True)

In [17]:
!pwd

/home/jend/fp/RealRelevantReviews

In [18]:
!ls -lah ..

total 9.4G
drwxrwxr-x  4 jend jend 4.0K Jul 14 21:01 .
drwxr-xr-x 21 jend jend 4.0K Jul  3 02:22 ..
drwxrwxr-x  2 jend jend 4.0K Jul 13 23:56 .ipynb_checkpoints
drwxrwxr-x  4 jend jend 4.0K Jul 14 21:00 RealRelevantReviews
-rw-rw-r--  1 jend jend  15M Jul 13 23:56 book_cutoffs.csv
-rw-rw-r--  1 jend jend 9.6M Jul 14 21:01 booklist.csv
-rw-rw-r--  1 jend jend 585M Jul 14 19:08 dev.json
-rw-rw-r--  1 jend jend 391M Jul 14 20:36 labeled_dev_set.csv
-rw-rw-r--  1 jend jend 2.0M Jul 13 22:36 labeled_small_training_set.csv
-rw-rw-r--  1 jend jend 3.3G Jul 13 23:48 labeled_training_set.csv
-rw-rw-r--  1 jend jend 9.3M Jul  2 02:40 rowling.json
-rw-rw-r--  1 jend jend  47M Jun 22 04:41 small_train.json
-rw-rw-r--  1 jend jend 584M Jul 14 19:08 test.json
-rw-rw-r--  1 jend jend 467K Jun 22 04:37 toy_train.json
-rw-rw-r--  1 jend jend 4.6G Jul  3 02:23 train.json